@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
    padding: 0%;
    margin: auto;
}
body{
    font-family: 'Balsamiq Sans', cursive;
    text-decoration:none;
}
.main{
    background: url(tree.jpg);
    background-repeat: no-repeat;
    background-position: center;
  background-size: cover;
  width: 100%;
	
}
.menu-bar h2{
    color: azure;
    padding: 20px;
    display: flex;
    
}

.menu-bar{
  margin-bottom: 20px;
}
a{
	text-decoration: none;
}
.menu-bar ul li{
	list-style: none;
	display: inline-block;
    margin-right: 40px;
      
}

.menu-bar ul {
    text-align: right;
    
    
}

.menu-bar ul li a{
	color: white;
	font-size: 18px;
	transition: 0.5s;
}
.menu-bar ul li a:hover{
	color: rgb(114, 84, 163);
	transform: scale(2);
	transition: 0.5s;
}
.contact{
    text-align: center;
}
.contact h2{
    text-align: center;
    color: pink;
}
.contact{
	width: 400px;
	margin: 0 auto;
    padding: 0 0;
    
}
.form-body{
    margin-top: 20;
	background: rgba(0,0,0,0.4);
	
	text-align: center;
    padding: 50px 0;
    border: 3px solid rgb(70, 21, 102);
    border-radius: 70px 0 70px 0;
    
}
form{
    width: 192px;
     
}
.form-body input{
	display: block;
	width: 150px;
	padding: 15px 20px;
	margin: 20px 0;
	background: transparent;
	border: 1px solid rgb(114, 84, 163);
	border-radius: 15px 0 15px 0;
}
.form-body input:focus{
    outline: none;
    border-color: rgb(199, 36, 131);
    color: rgb(199, 36, 131);
}
.label{
  padding: 0;
  margin: 0 ;
  text-align: left ;
  color: whitesmoke;
}
.btn input{
	background: rgb(199, 36, 131) !important;
	color: white;
	width: 100px !important;
    text-align: center;
    border-radius: 15px 0 15px 0;
    cursor: pointer;
    
}
.btn input:hover{
    color: rgb(41, 6, 99);
	transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
    
}

.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: none;
    margin: 0 5px;
    overflow: hidden;
    background: pink;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0);
    transition: all 0.3s ease-out;
    text-align: center;
  }
  .wrapper .button:hover{
    width: 200px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: #1DA1F2;
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: #E1306C;
  }
  .wrapper .button:nth-child(4):hover .icon{
    background: #333;
  }
  .wrapper .button:nth-child(5):hover .icon{
    background: #ff0000;
  }
  .wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span{
    color: #4267B2;
  }
  .wrapper .button:nth-child(2) span{
    color: #1DA1F2;
  }
  .wrapper .button:nth-child(3) span{
    color: #E1306C;
  }
  .wrapper .button:nth-child(4) span{
    color: #333;
  }
  .wrapper .button:nth-child(5) span{
    color: #ff0000;
  }
